/* ---------------------------- google font import */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ---------------------------- general CSS */

* {
  font-family: "Roboto", sans-serif;
}


/* ---------------------------- header and logo CSS */

.header-container {
  background-color: #1F2937;
  height: 500px;
}

.top-header {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 50%;
  margin-left: 10%;
}

.logo-text {
  font-size: 24px;
  color: #F9FAF8;
}

/* ---------------------------- navbar CSS */

.navbar {
  width: 50%;
  justify-content: right;
}

nav li {
  font-size: 18px;
  padding-right: 35px;
  list-style: none;
  display: inline;
}

li a {
  text-decoration: none;
  color: #E5E7EB;
}

/* ---------------------------- hero container and text CSS */

.hero-container {
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
}

.hero-text-box {
  width: 50%;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-image-container {
  width: 50%;
}

.hero-image {
  height: 200px;
  width: 500px;
  margin-top: 50px;
}

/* ---------------------------- button */

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 1px solid #F9FAF8;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

/* ---------------------------- information container */

.info-container {
  height: 400px;
  background-color: #F9FAF8;
}

.info-header-text {
  text-align: center;
  font: 36px #1F2937;
  font-weight: 800;
}

/* ---------------------------- information images */

#images-container {
  display: flex;
  flex: auto;
  justify-content: center;
}

.small-img {
  height: 80px;
  width: 80px;
  border: 2px solid #3882F6;
  padding: 20px;
  border-radius: 5px;
}

.images {
  width: 10%;
  padding: 15px;
}

.images p {
  font-size: 13px;
  color: grey;
  text-align: center;
}

/* ---------------------------- quote container */

#quote-container {
  background-color: #E5E7EB;
  height: 200px;
  padding: 15%;
}

#quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: light;
}